<ol class="">
    {{#each posts as |post|}}
        <div class="blog-post less-margin">
            <li class="list-num">
            {{> post-info post }}
            </li>
        </div>
    {{/each}}
</ol>