<form class="login-form blog-post">
    <div>
        <label for="email-login"></label>
        <input type="text" id="email-login" placeholder="email" />
    </div>
    <div>
        <label for="password-login"></label>
        <input type="password" id="password-login" placeholder="password" />
    </div>
    <div>
        <button type="submit" class="btn alt-btn">login</button>
    </div>
</form>

<form class="signup-form blog-post">
    <div>
        <label for="username-signup"></label>
        <input type="text" id="username-signup" placeholder="username" />
    </div>
    <div>
        <label for="email-signup"></label>
        <input type="text" id="email-signup" placeholder="email" />
    </div>
    <div>
        <label for="password-signup"></label>
        <input type="password" id="password-signup" placeholder="password" />
    </div>
    <div>
        <button type="submit" class="btn alt-btn">signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>